body {
    font-family: Palatino, serif;
    /*font-family: Verdana, sans-serif;*/
    /*background-image: url("images/6-8-galactic-center-enhanced.jpg");
    background-repeat: no-repeat;*/
    background-color: rgb(200, 215, 215);
    background-size: 50%;
    /*background-position: top;*/
    margin: 0;
    padding-bottom: 200pt;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 100px;
    line-height: 15pt;
    height: 100%;
}

html {
    height: 100%;
}

.bg {
  /* background image */
  background-image: url("https://jiashuhan.github.io/images/6-8-galactic-center-enhanced.jpg");
  height: 30%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.indented {
    padding-left: 20pt;
}

/* Navigation bar */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  color: white;
  padding-left: 10pt;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  /*background-color: #4CAF50;*/
  background-color: #5CCDF6;
  color: white;
}

ul {
    display: flex;
    justify-content: space-between;
    line-height: 0.1px;
}

li {
    border: 1px;
}
